<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wp-react-theme/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /wp-react-theme/index.html [L]
</IfModule>